.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  width: 100%; /* Adjust based on your design */
  margin-bottom: 20px; /* Adjust based on your design */
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  height: 14em;
  border-radius: 1.5rem;
  overflow: hidden;
  padding-bottom: 20px;
  object-fit: contain;
  margin-bottom: 1rem;
  
}
.image {
  height: 14em;
  object-fit: cover;
}

.portfolio_item h3 {
}

.portfolio_item-cta {
  display: flex;

  gap: 1rem;
  margin-bottom: 1rem;
  bottom: 0;
}

/*!===============MEDIA QUERIES(MEDIUM DEVICES)===========*/
@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2em;
  }
}

/*!===============MEDIA QUERIES(Small DEVICES)===========*/
@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
